body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

button {
  width: 100px;
  padding: 5px 0px;
  margin: 10px;
}

.buttons {
  display: flex;
  gap: 50px;
}

.scoreboard div {
  display: flex;
  width: 100%;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player, .computer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span {
  font-size: 50px;
}

h3 {
  margin: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history {
  display: flex;
  gap: 100px;
}

.player-history {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#player-history {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.computer-history {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#computer-history {
  display: flex;
  flex-direction: column;
  align-items: center;
}