
body {
    background-image: url(images/rockpaperscissorslizardspock.png);
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    background-color: #15133c;
  }